polyglot
pycld2
openai
ray
shortuuid
fire
fastapi
uvicorn
gradio
markdown2
flash_attn
omegaconf
decord
einops
ninja
accelerate==0.22.0
torch==1.13.1
torchvision==0.14.1
transformers==4.29.1
tokenizers==0.13.3
deepspeed==0.8.3
imageio==2.31.1
SentencePiece
pydantic==1.10.12
peft==0.4.0
yacs
addict
yapf
supervision
opencv-python-headless==4.2.0.34
timm==0.9.7